html,
body {
  width: 100%;
  height: 100%;
  background: #000;
  overflow: hidden;
}

body {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#shader-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000;
}

#shader-container canvas {
  display: block;
}
